<!DOCTYPE html>
<html lang="en">
  <title><?=$title;?></title>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <!-- Mycss -->
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<?=base_url( '/' );?>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?=base_url( '/pages/about' );?>">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ghs">Game House</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orang">Orang</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <h2 class="text-center">Detail GameHouse</h2>
        <a class="mb-5" href="/ghs">Kembali ke daftar GameHouse</a>
      </div>
      <div class="container bg">
        <div class="row justify">
          <div class="col-12">
            <div class="row no-gutters">
              <div class="col-md-4 parent">
                <img src="/public/img/valor.jpg" class="card-img" alt="" />
              </div>

              <div class="kotak1">
                <div class="text-kotak1">
                  
                </div>
                <div style="display: inline-block" >
                  <label style="display: block" class="label-text" for="">Regristasi</label>
                  <h5 class="card-text">
                    <b class="text-white">2021-08-06</b
                    ><?=$ghs['regristasi'];?>
                  </h5>
                </div>
                <div style="display: inline-block " >
                  <label style="display: block" class="label-text" for="">Matchday</label>
                  <p class="card-text">
                    <b class="text-white"
                      >2021-08-06
                      <?=$ghs['macthday'];?></b
                    >
                  </p>
                </div>
                <div style="display: inline-block" >
                  <label style="display: block" class="label-text" for="">Jumlah slot</label>
                  <p class="card-text tampil-text">
                    <b class="text-white justify-content-center"
                      >35
                      <?=$ghs['jumlah_slot'];?></b
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="atribut"></div>
            <div class="tombol">
              <a name="" id="" class="btn btn-warning btn-edit tombol-edit" href="/ghs/edit/<?=$ghs['id'];?>" role="button">Edit</a>
              <form action="/ghs/<?=$ghs['id'];?>" method="post" class="d-inline btn-delete tombol-delete">
                <?=csrf_field();?>
                <input type="hidden" name="_method" value="DELETE" />
                <button onclick="return confirm('apakah anda yakin?');" class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
            <a name="" id="" class="btn btn-primary tombol-ikut" href="#" role="button">Ikut Tournament</a>
            <br /><br />

            <div class="konten1">
              <div class="row">
                <div class="col-lg-6">
                  <p class="card-text text-center prize-pool ">
                    <label for="">Prizepool</label>
                    <b >20.000.000</b
                    ><?=$ghs['prize_pool'];?>
                  </p>
                  <div class="text-thropy ">
                    <p class="card-text uk-thropy">
                      <b>1 <sup>ST</sup></b> 
                     <b  class=" thropy"
                          >1000.000</b
                        >
                    </p>
                    <p class="card-text uk-thropy">
                      <b>2 <sup>ND</sup></b> 
                     <b  class=" thropy"
                          >1000.000</b
                        >
                    </p>
                    <p class="card-text uk-thropy">
                      <b>3 <sup>RD</sup></b> 
                     <b  class=" thropy"
                          >1000.000</b
                        >
                      </p>
                      <label class="pay" >Payment</label>
                      <p class="card-text uk-thropy">
                      <b>DANA</b>
                    </p>
                    <p class="card-text uk-thropy">
                      <b>OVO</b>
                    </p>
                    <p class="card-text uk-thropy">
                      <b>GOPAY</b>
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="konten2">
              <div class="row">
                <div class="col-lg-6">
                  
                    <p class="card-text">
                      <label for=""><h3 class="text-center garis-bawah"><b>Deskripsi</b></h3></label>
                      <b>
                        <?=$ghs['deskripsi'];?>
                      </b>
                  
              
                      </p>
                    <p class="card-text">
                      <label for=""><h3 class="text-center garis-bawah"><b>Rules</b></h3></label>
                     <b
                          ><?=$ghs['rules'];?></b
                        >
                      >
                    </p>
                  </div>
              </div>
            </div>
            <div class="konten3">
                  <div class="konten3-text">
                    <p style="display: inline; ">
                      <span class="text-white text-center"><b>Unduh Brosur </b> </span
                      >
                    </p>
                    <p  class="card-text" style="display: inline;"" >
                      <span class="text-white" ><b>Unduh Formulir</b></span>
                    </p>
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>

    <?=$this->include( 'layout/navbar' );?>
    <?=$this->renderSection( 'content' );?>

    <script src="/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
